* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 40px 600px;
  column-gap: 10px;
}

button {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 0;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.control-btn {
  font-size: 12px;
  width: 60px;
  height: 36px;
}

canvas {
  background-color: white;
  border-radius: 8px;
}

button.red {
  background-color: red;
}

button.green {
  background-color: green;
}

button.blue {
  background-color: blue;
}

button.black {
  background-color: black;
}

button.selected {
  border: 2px solid white;
}
