* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.title-main {
  font-family:
    "Pretendard Variable", "Pretendard", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 40pt;
}

.title-sub {
  margin: 10px 0 18px 0;
  font-family:
    "Pretendard Variable", "Pretendard", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 20pt;
}

main {
  display: grid;
  grid-template-columns: 792px 289px;
  column-gap: 32px;
  margin-top: 16px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

aside h2 {
  font-size: 32px;
}

button {
  border: 2px solid transparent;
  cursor: pointer;
}

.tool-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.undo-btn-img {
  height: 24px;
}

.color-btn {
  width: 44px;
  height: 44px;
  font-size: 0;
  border: 2px solid transparent;
  border-radius: 40px;
}

.undo-btn {
  font-size: 12px;
  height: 36px;
  background-color: transparent;
}

.erase-btn {
  background-color: transparent;
}

.erase-img {
  height: 42px;
}

.sticker-title {
  margin-bottom: 14px;
}

.stickers {
  background-color: white;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.stickers button {
  background-color: transparent;
}

.big-sticker-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.big-sticker-img {
  height: 78px;
}

.small-sticker-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.small-sticker-img {
  height: 40px;
}

#download {
  background: #2f2f2f;
  color: #fff;
  border-color: #2f2f2f;
}

canvas {
  background-color: white;
  border-radius: 8px;
}

.tool {
  background-color: white;
  display: flex;
  padding: 24px 40px;
  gap: 30px;
}

button.red {
  background-color: red;
}

button.black {
  background-color: black;
}

button.selected {
  border: 2px solid white;
}

.save-btn {
  font-size: 24px;
  background-color: #565656;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 120px;
  width: 100%;
  border-radius: 50px;
}
