* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 4728px;
  height: 5760px;
}

body {
  background-color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.luux-title {
  font-size: 24px;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 24px;
}

.luux-stage {
  position: relative;
  width: 4728px;
  height: 5760px;
}

.luux-base {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.luux-overlay {
  position: absolute;
  top: 0;
  left: 1152px;
  width: 3576px;
  height: 5760px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-content: start;
  gap: 50px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0;
}

.luux-overlay img {
  width: 100%;
  height: auto;
  display: block;
}

.luux-empty {
  margin-top: 16px;
  color: #bdbdbd;
  font-size: 12px;
}
